.App {
  background-color: #18191a;
  color: #fdb51a;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.brand {
  display: flex;
  align-items: center;
  background-color: #1c1e21;
  width: 100%;
}

.brand-logo { 
  width: 55px;
  height: 55px;
  padding: 8px;
}

.brand-name {
  font-size: 20px;
}

.display-form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  align-items: center;
}

form {
  background-color: #ffd06d;
  width: 50vh;
  color: #000000; 
  height: 50vh;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-right: 43px;
}

form input {
  width: 100%;
  height: 20px;
  margin-top: 8px;
  padding: 5px 5px 5px 5px;
}

form label {
  text-align: left;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 104%;
  margin-top: 20px;
}

form p {
  text-align: left;
}

@media screen and (max-width: 500px) {
  .brand {
    justify-content: center;
  }
  .brand-logo {
    width: 50px;
    height: 50px;
    justify-content: center;
    padding: 8px 0px;
  }
  .brand-name {
    display: none;
  }
}


