.App {
  background-color: #18191a;
  color: #fdb51a;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.brand {
  display: flex;
  align-items: center;
  background-color: #1c1e21;
  width: 100%;
}

.brand-logo { 
  width: 55px;
  height: 55px;
  padding: 8px;
}

.brand-name {
  font-size: 20px;
}

.display-form {
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .logo {
    width: 1em;
    height: 1em;
  }
}


